<div class="container-fluid">
  <side-menu></side-menu>
</div>
<div class="container">
  <h1>Registro de Usuarios</h1>
  <form role="form">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" >
    </div>
    <div class="form-group">
      <label for="apellido">Apellido</label>
      <input type="text" class="form-control" id="apellido" >

    </div>
    <div class="form-group">
      <label for="login">Login</label>
      <input type="text" class="form-control" id="login" >
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" class="form-control" id="password">
    </div>
    <div class="form-group">
      <label for="email">Correo Electronico</label>
      <input type="text" class="form-control" id="email" >
    </div>
    <button type="submit" class="btn btn-default">Grabar</button>
  </form>
 </div>

