<div>
  <ul>
    <li><a [routerLink]="['/home']"[routerLinkActive]="['activado']">Home</a></li>
    <li><a [routerLink]="['/invernadero']"[routerLinkActive]="['activado']">Invernaderos</a></li>
    <li><a [routerLink]="['/microcontrolador']"[routerLinkActive]="['activado']">Microcontroladores</a></li>
    <li><a [routerLink]="['/sensor']"[routerLinkActive]="['activado']">Sensore</a></li>
    <li><a [routerLink]="['/actuador']"[routerLinkActive]="['activado']">Actuadores</a></li>
    <li><a [routerLink]="['/pcontrol']"[routerLinkActive]="['activado']">Parm. Control</a></li>
    <li><a [routerLink]="['/administrador']"[routerLinkActive]="['activado']">Administracion</a></li>
    <li><a [routerLink]="['/salir']"[routerLinkActive]="['activado']">Salir</a></li>
  </ul>
</div>
